<div class="header">
  <div class="left-part">
    <button mat-icon-button mat-mini-fab class="back-btn" (click)="backClicked()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <div class="right-part">
    <button mat-stroked-button color="primary" routerLink="/post">All Posts</button>
    <ng-container *ngIf="{
      isLoggedIn: isLoggedIn$ | async
    } as state">
      <button mat-button color="primary" routerLink="/user/login" *ngIf="!state.isLoggedIn">Sign In</button>
      <button mat-stroked-button color="primary" routerLink="/post/create" *ngIf="state.isLoggedIn">Create Post</button>
      <button mat-stroked-button color="primary" routerLink="/user/profile" *ngIf="state.isLoggedIn">Profile</button>
      <button mat-button color="primary" (click)="logout()" *ngIf="state.isLoggedIn">Logout</button>
      <ng-container *ngIf="{
      user: currentUser$ | async
    } as data">
        <button mat-stroked-button color="accent" routerLink="/user/super" *ngIf="state.isLoggedIn && checkUser(data.user)">Super</button>
      </ng-container>
    </ng-container>
    <mat-button-toggle-group (change)="switchAppTheme($event)" [value]="currentTheme" class="toggle">
      <mat-button-toggle value="light" aria-label="Light theme">
        Light
      </mat-button-toggle>
      <mat-button-toggle value="dark" aria-label="Dark theme">
        Dark
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
