@import '../../../colors.scss';

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.action {
  margin: 0;

  .material-icons {
    font-size: 18px;
  }

  button {
    margin: 0;
  }
}
