<div *ngFor="let comment of comments; index as i" class="comment" data-testid="comment">
  <h4>{{comment.text}}</h4>
  <create-comment *ngIf="comment.id === selectedComment?.id" (leaveComment)="submitComment($event)" [current]="comment"></create-comment>
  <h5 class="user">
    <div class="action">
      <button mat-button color="accent" *ngIf="comment.id === selectedComment?.id" (click)="closeCommentForm()">Close Comment Form</button>
      <button mat-icon-button aria-label="edit" *ngIf="isCommentAuthor(comment.userId)" [disabled]="!isAuth" (click)="showEditFormForComment(comment)">
        <mat-icon aria-hidden="false" [ngClass]="{'disabled-icon': !isAuth}">edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="delete" *ngIf="isCommentAuthor(comment.userId)" [disabled]="!isAuth" (click)="deleteComment(comment)">
        <mat-icon aria-hidden="false" [ngClass]="{'disabled-icon': !isAuth}">delete</mat-icon>
      </button>
    </div>
    {{comment.username}}
  </h5>
</div>
<button mat-flat-button color="accent" (click)="showMoreComments()" *ngIf="moreButton">Load More Comments</button>

