<div class="container">
  <form novalidate [formGroup]="form" class="search-sort">
    <!-- Search -->
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput formControlName="search">
    </mat-form-field>
    <!-- SortBy -->
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <select matNativeControl formControlName="sortBy">
        <option value="author">Author</option>
        <option value="alphabet">Alphabet</option>
        <option value="" selected>Update Date</option>
      </select>
    </mat-form-field>
  </form>
  <div *ngFor="let post of posts; index as i">
    <!--List Representation-->
    <post-list-item [post]="post"></post-list-item>
  </div>
  <button mat-flat-button color="accent" (click)="getMorePosts()" *ngIf="showMorePosts">Load More Comments</button>
</div>
