<div class="container" data-testid="create-post">
  <h1>Create post</h1>

  <mat-vertical-stepper linear labelPosition="bottom">

    <mat-step>
      <ng-template matStepLabel>Post Title</ng-template>
      <create-post-step1 #step1></create-post-step1>
      <div class="action-container">
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Post Text</ng-template>
      <create-post-step2 #step2></create-post-step2>
      <div class="action-container">
        <button mat-flat-button color="default" matStepperPrevious>Previous</button>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Post Tags</ng-template>
      <create-post-step3 #step3></create-post-step3>
      <div class="action-container">
        <button mat-flat-button color="default" matStepperPrevious>Previous</button>
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step optional>
      <ng-template matStepLabel>Post Image</ng-template>
      <create-post-step4 #step4></create-post-step4>
      <div class="action-container">
        <button mat-flat-button color="default" matStepperPrevious>Previous</button>
        <button mat-flat-button color="primary" (click)="onSave()"
          [disabled]="step1.form.invalid || step2.form.invalid || step3.form.invalid"
        >
          Save post
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
