<div class="container" data-testid="forgot-password">
  <form novalidate [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required data-testid="email">
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid" data-testid="submit" (click)="submitForgotPassword()">Submit</button>
    </div>
  </form>
  <h3 class="message accent">
    {{this.message}}
  </h3>
</div>
