<div *ngIf="post" class="container">
    <div class="title">
        <h1>{{post.title}}</h1>
        <span class="likes-value">
            <button mat-icon-button aria-label="dislike" (click)="likePost(-1)" [disabled]="likeIsDisabled(-1)">
                <mat-icon aria-hidden="false">thumb_down</mat-icon>
            </button>
            {{post.likesValue}}
            <button mat-icon-button aria-label="like" (click)="likePost(1)" [disabled]="likeIsDisabled(1)">
                <mat-icon aria-hidden="false">thumb_up</mat-icon>
            </button>
        </span>
    </div>
    <div class="labels">
        <span class="label" *ngFor="let label of post.labels">{{label.name}}</span>
    </div>
    <img class="post-image" *ngIf="image" [src]="image" />
    <h4 class="text">{{post.text}}</h4>
    <div class="author">{{post.author}}</div>
    <div class="action">
      <button mat-flat-button color="accent" [disabled]="isDisabled()" (click)="showComment()" *ngIf="!showCommentForm">Comment Post</button>
      <button mat-flat-button color="primary" [disabled]="isDisabled()" (click)="editPost()" *ngIf="isPostAuthor()">Edit Post</button>
      <button mat-flat-button color="warn" [disabled]="isDisabled()" (click)="deletePost()" *ngIf="isPostAuthor()">Delete Post</button>
    </div>
    <create-comment *ngIf="showCommentForm" (leaveComment)="submitComment($event)"></create-comment>
    <http-error *ngIf="errorMessage" [errorMessage]="errorMessage"></http-error>
    <comments [comments]="post.comments" [moreButton]="post.showMoreComments" (loadComments)="showMoreComments($event)"></comments>
</div>
