@import '../../../colors.scss';

.title {
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-indent: 2rem;
  text-align: justify;
}

.post-image {
  width: 300px;
  display: block;
  margin: 1rem auto;
}

.author {
  margin: 1rem 0.5rem;
  justify-content: flex-end;
  display: flex;
  align-items: center;

  .authorPhoto {
    margin-left: 1rem;
    width: 25px;
    border-radius: 10%;
  }
}

.labels {
  margin: 0.5rem 0;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;

  .label {
    padding: 0.25rem;
    // border-radius: 5px;
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.action {
  display: flex;
  margin: 1rem 0;

  button {
    margin-right: 0.5rem;
  }
}

.small-link {
  font-size: 10px;
  display: block;
  padding: 0 1rem 1rem;
  text-align: center;
}
