<div class="container">
  <h1>{{ownProfile() ? 'My Profile Info' : userData.name + '\'s Profile Info' }}</h1>
  <img *ngIf="image" [src]="image" class="user-photo"/>
  <p *ngIf="userData.email">Email: {{userData.email}}</p>
  <p *ngIf="userData.name">Name: {{userData.name}}</p>
  <div *ngIf="userData.bio">
    <p>Bio</p>
    <p>{{userData.bio}}</p>
  </div>
  <div class="action" *ngIf="ownProfile() && (isLoggedIn$ | async)">
    <button mat-flat-button color="accent" (click)="onEdit()">Edit Info</button>
    <button mat-flat-button color="primary" (click)="onOpenFollowPosts()">Show Follow Posts List</button>
    <button mat-flat-button color="warn" (click)="onDeleteProfile()">Delete Profile</button>
  </div>
  <div class="action" *ngIf="!ownProfile()">
    <button mat-flat-button color="accent" (click)="onFollow()" *ngIf="!(iFollow$ | async)" [disabled]="isLoggedOut$ | async">Follow This User</button>
    <button mat-flat-button color="warn" (click)="onUnFollow()" *ngIf="(iFollow$ | async)" [disabled]="isLoggedOut$ | async">Unfollow This User</button>
  </div>
  <edit-user-profile [userData]="userData" (getUserInfo)="getUserInfo($event)" *ngIf="showEditForm"></edit-user-profile>
</div>
