<div class="container" data-testid="change-password">
  <h1>{{params?.id ? 'Reset password' : 'Change Password'}}</h1>
  <form novalidate [formGroup]="form" (ngSubmit)="submitChangePassword()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="repeatPassword" required>
        <mat-error *ngIf="repeatPassword.invalid || repeatPassword.dirty">
          {{getRepeatPasswordError()}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="accent" type="submit" [disabled]="form.invalid">Submit</button>
      <a class="link accent" routerLink="/user/login" *ngIf="params">Back to login</a>
    </div>
  </form>
</div>
