.file-input {
    display: none;
}
.file-upload {
    display: flex;
}
.upload-btn {
    margin-top: 12px;
    margin-left: 5px
}
.upload {
    margin-left: 10px;
    margin-bottom: 15px;
}
.progress-bar {
    margin-bottom: 10px;
}
