<div class="form-container">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" required ngModel [pattern]="emailPattern" #email="ngModel">
                <mat-error *ngIf="email.errors?.required">This field is required</mat-error>
                <mat-error *ngIf="email.errors?.pattern">Email is invalid</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" required ngModel [pattern]="passwordPattern" #password="ngModel">
                <mat-error *ngIf="password.errors?.required">This field is required</mat-error>
                <mat-error *ngIf="password.errors?.pattern">Password is invalid</mat-error>
            </mat-form-field>
        </div>
        <div class="action">
            <button mat-flat-button color="accent" type="submit" [disabled]="loginForm.invalid">Submit</button>
            <a class="link" routerLink="/forgot-password">Forgot password?</a>
            <a class="link accent" routerLink="/sign-up">No account yet?</a>
        </div>
        <http-error [errorMessage]="errorMessage"></http-error>
    </form>
</div>