<div class="post" data-testid="list-post-item">
  <a [routerLink]="'/user/profile/' + post.authorId">{{post.author}}:</a>
  <div class="title">
    <h3>{{post.title}}</h3>
    <div class="labels">
      <span class="label">{{post.labels[0]?.name}}</span>
      <span
        matTooltip="Click 'Read post' to see more labels"
        *ngIf="post.labels.length > 1" class="label">...</span>
    </div>
  </div>
  <div class="text">
    {{post.text}}
  </div>
  <div class="action">
    <button mat-button color="accent" [routerLink]="'/post/' + post.id">Read Post</button>
    <div>
      Comments: {{post.commentsCount}}
    </div>
    <div class="like">
      <mat-icon color="accent">favorite</mat-icon>
      <span class="value">
        {{post.likesValue}}
      </span>
    </div>
  </div>
</div>
