@import '../../../colors.scss';

.table {
  width: 100%
}

td, th {
  text-align: center!important;
  width: 50px!important;
}

.action {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  button {
    margin: 0;
  }
}

