/* You can add global styles to this file, and also import other style files */
@import './colors.scss';
@import './new-theme.scss';

@mixin bottom-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@mixin transparent-background {
  background: rgba(0, 0, 0, 0.04);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p.server-error {
  color: $warn;
  margin: 0.5rem 0;
}

button.mat-stroked-button.mat-primary {
  border-color: $primary;
}

button.mat-stroked-button.mat-accent {
  border-color: $accent;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin: 0.5rem;
  color: $light-color-2;
}

.likes-value {
  display: flex;
  align-items: center;
  color: $accent;
}

.comment {
  padding: 1rem;
  margin: 1rem 0;
  @include bottom-shadow;
  @include transparent-background;
}

.info {
  padding: 1rem;
  @include bottom-shadow;
  @include transparent-background;
}

mat-button-toggle-group.toggle {
  border-color: $primary;
  .mat-button-toggle-checked {
    background: $primary;
  }
  span.mat-button-toggle-label-content {
    line-height: 36px;
  }
}

.label {
  color: $light-color-1;
  background: $primary;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}

.value {
  margin-left: 5px;
  margin-top: 3px;
  color: $accent;
}

a {
  color: $accent
}

.post {
  @include transparent-background;
  @include bottom-shadow;
}

.container {
  min-width: 400px;
  width: 40%;
  margin: 2rem auto;
  overflow: hidden;

  .mat-form-field {
    margin: 0.5rem 0;
    width: 100%;
  }

  textarea.static {
    resize: none;
  }
}

.header {
  @include bottom-shadow;
}

#root.alternate-theme {
  mat-button-toggle-group.toggle {
    border-color: $alt-primary;
    .mat-button-toggle-checked {
      background: $alt-primary;
      color: $light-color-1
    }
  }
  p.server-error {
    color: $alt-warn;
    margin: 0.5rem 0;
  }
  button.mat-stroked-button.mat-primary {
    border-color: $alt-primary;
  }
  button.mat-stroked-button.mat-accent {
    border-color: $alt-accent;
  }
  .label {
    background: $alt-primary;
  }
  a {
    color: $alt-accent;
  }
  .value {
    color:$alt-accent;
  }
  .likes-value {
    color: $alt-accent;
  }
  .action {
    .material-icons {
      color: $alt-accent;
    }
  }
  .disabled-icon {
    color: $light-color-2;
  }
  .mat-button-disabled {
    mat-icon {
      color: $light-color-2;
    }
  }
  .accent {
    color: $alt-accent;
  }
  .link {
    color: $dark-color-1;
  }
}

.alternate-theme {
  div.mat-select-panel {
    background: $light-color-2;

    mat-option.mat-option {
      color: $dark-color-1 !important;

      .mat-pseudo-checkbox {
        color: $alt-accent !important;
      }
      .mat-pseudo-checkbox::after {
        color: $light-color-2;
      }

      .mat-pseudo-checkbox-checked {
        background: $alt-accent !important;
      }
    }
  }
  .mat-dialog-container {
    padding: 0 !important;

    dialog.ng-star-inserted {
      border-color: $alt-accent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -40px;
      color: $dark-color-1;
      background: $light-color-1;
      width: 250px;

      .mat-dialog-actions {
        button.mat-accent {
          background: $alt-accent;
        }
      }
    }
  }
  .post-image-frame {
    outline: 6px solid rgba(0, 0, 0, 0.45);
    outline-offset: -5px;
    @include bottom-shadow;
  }
}

.accent {
  color: $accent;
}

.mat-dialog-container {
  padding: 0 !important;

  dialog.ng-star-inserted {
    border-color: $accent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    background: $dark-color-1;
    color: $light-color-1;
    width: 250px;
  }
}

div.mat-select-panel {
  mat-option.mat-option {
    color: $light-color-2 !important;

    .mat-pseudo-checkbox-checked {
      background: $accent !important;
    }
  }
}

.action {
  align-items: baseline;
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;

  .material-icons {
    color: $accent;
  }

  button {
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .disabled-icon {
    color: $light-color-2;
  }
}

.user-item {
  @include transparent-background;
  @include bottom-shadow;
}

.post-image-frame {
  outline: 6px solid rgba(255, 255, 255, 0.55);
  outline-offset: -5px;
  @include bottom-shadow;
}
